.back
  text-decoration: none
  margin-right: 0.5em
  font-size: 22px
  color: $textInactiveColor
  position: relative
  top: -2px
  &:hover
    color: $textActiveColor
  &:active
    color: darken($textActiveColor, 20%)
