.container
  width: auto
  margin: 1em 0.5em
  +size($smallScreen)
    width: 750px
    margin: 2em auto
  +size($mediumScreen)
    width: 970px
    margin: 3em auto
  +size($largeScreen)
    width: $largeScreen - 20px
    margin: 3em auto
