.row
  cf()
  +size($mediumScreen)
    .col-1
      column(1/12)
    .col-2
      column(2/12)
    .col-3
      column(3/12)
    .col-4
      column(4/12)
    .col-5
      column(5/12)
    .col-6
      column(6/12)
    .col-7
      column(7/12)
    .col-8
      column(8/12)
    .col-9
      column(9/12)
    .col-10
      column(10/12)
    .col-11
      column(11/12)
    .col-12
      column(12/12)
