h1.logo33inch
  background: url(../logo-green.png) no-repeat center
  width: 139px
  height: 50px
  overflow: hidden
  text-indent: -500px
  margin: 2em auto
  +retina()
    background-image: url(../logo-green@2x.png)
    background-size: 139px 50px
