.switch
  display: block
  width: 49px
  height: 29px
  border-radius: 20px
  background: $inputBackground
  position: relative
  cursor: pointer
  box-sizing: border-box
  transition: background 0.2s ease, opacity 0.2s ease
  border: solid 1px $inputBorderColor
  &:hover
    background: $inputBackground
  handle
    display: block
    width: 23px
    height: 23px
    background: $textInactiveColor
    position: absolute
    top: 2px
    left: 2px
    border-radius: 100%
    transition: left 0.2s ease, opacity 0.2s ease
  &.on
    background: $inputBackground
    handle
      left: 22px
      background: $borderActiveColor
  &.disabled
    opacity: 0.6
    cursor: default
