tools-dropdown
  background: toolBg
  color: toolText
  border-radius: 5px
  padding: 0.25em
  position: absolute
  left: 50%
  top: 35px
  padding: 6px 0 5px
  cursor: pointer
  z-index: 1001
  width: 36px
  text-align: center
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
  margin-left: -18px
  &:hover
    background: lighten(toolBg, 10%)
  article:hover &
    opacity: 1
  .dropdown
    cursor: default
    text-align: left
    position: absolute
    background: toolBg
    border-radius: 8px
    padding: 5px 0
    font-size: 14px
    line-height: 19px
    width: 200px
    margin-left: -82px
    top: 50px
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    z-index: 1002
    .viewport
      overflow: hidden
      transition: height 0.3s ease
      position: relative
      min-height: 30px
      .view
        position: absolute
        left: 200px
        top: 5px
        width: 100%
        transition: left 0.3s ease
        &.active
          left: 0
        &.hidden
          left: -200px
    &::after
      bottom: 100%
      left: 50%
      border: solid transparent
      content: ''
      height: 0
      width: 0
      position: absolute
      pointer-events: none
      border-color: rgba(0, 0, 0, 0)
      border-bottom-color: toolBg
      border-width: 12px
      margin-left: -12px
    //.group
    .fa
      font-size: 16px
    .left
      float: left
    .right
      float: right
    .item
      color: toolColor
      padding: 3px 6px
      margin: 0
      border-bottom: solid 1px lighten(toolBg, 10%)
      &:last-child
        border-bottom: none
      &[ng-click]
        cursor: pointer
        &:hover
          background: lighten(toolBg, 10%)
          color: toolAccent
      &.title
        text-align: center
        font-weight: bold
        position: relative
        .back
          position: absolute
          left: 5px
          font-weight: normal
          cursor: pointer
          &:hover
            color: toolAccent
          .fa
            margin-right: 3px
      &.move
        text-align: center
        .fa
          margin: 0 10px
          font-size: 16px
          cursor: pointer
          &:hover
            color: toolAccent
      .value
        font-weight: bold
        margin-left: 5px
        color: toolAccent
      [ng-switcher]
        display: inline-block
        float: right
      .button
        float: right
      .colors
        overflow: hidden
        .color
          float: left
          width: 25px
          height: 25px
          border: solid 1px lighten(toolBg, 10%)
          margin: 2px 3px 3px 2px
          position: relative
          text-align: center
          line-height: 27px
          cursor: pointer
          &:hover
            border-color: toolAccent
          &.add
            &:hover
              background: lighten(toolBg, 10%)
              color: toolAccent
          &.active
            border: black 1px solid
            box-shadow: 0 0 0 1px white
