editor
  position: relative
  z-index: 1
  display: block
  .toolbar
    position: absolute
    bottom: 100%
    left: -3px
    right: 0
    text-align: left
    transform: translate(0, -3px)
    opacity: 0
    visibility: hidden
    transition: all 0.2s ease
    white-space: nowrap
    .btn
      display: none
  &.focus
    z-index: 2
    .toolbar
      opacity: 1
      visibility: visible
      .btn
        display: inline-block

.attachements-list ul li editor
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
