.menu-default
  ul
    li
      position: relative
      .tools
        bottom: -10px
        font-size: 14px
        i
          margin: 0 2px
          color: toolText
          cursor: pointer
          &:hover
            color: toolAccent !important
      &:hover
        .tools
          opacity: 1
          visibility: visible
