.navbar
  position: fixed
  left: 0
  right: 0
  top: 0
  z-index: 100000
  background: rgba(239, 239, 239, 0.9)
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
  padding: 0.25em 0.5em
  height: 26px
  box-sizing: border-box
  transform: translate3d(0,0,0)
  .btn
    font-size: 12px
    padding: 3px 6px
    box-shadow: none
    margin-top: -1px
