.inch33
  header.straight
    .hero
      h1 33inch
      h2 Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon.

  article.article
    .container
      h1 Welcome to 33Inch
      p Jelly-o tootsie roll halvah bonbon powder candy canes dragée cake. Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon. Cupcake wafer dragée. Icing lemon drops powder. Jelly-o croissant toffee. Ice cream cake powder. Sugar plum soufflé lemon drops.

  article.features
    .container
      h1 Great features
      p Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon. Cupcake wafer dragée. Icing lemon drops powder. Jelly-o croissant toffee. Ice cream cake powder. Sugar plum soufflé lemon drops.
      ul
        li
          img(src="http://lorempixel.com/350/280/people")
          h3 Jelly halvah
          p Donut powder biscuit caramels jelly beans jujubes jelly beans cupcake.
        li
          img(src="http://lorempixel.com/350/280/city")
          h3 Cake icing tiramisu
          p Tootsie roll lemon drops cake chupa chups tootsie roll donut tart jelly-o.
        li
          img(src="http://lorempixel.com/350/280/nightlife")
          h3 Biscuit cookie
          p Sesame snaps lemon drops pie liquorice muffin liquorice topping cheesecake pastry.

  article.showcase-grid
    .container
      h2 Our works
      p Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon. Cupcake wafer dragée. Icing lemon drops powder. Jelly-o croissant toffee. Ice cream cake powder. Sugar plum soufflé lemon drops.
    ul
      li
        h3 Biscuit cookie
      li
        h3 Jelly beans muffin
      li
        h3 Fruitcake
      li
        h3 Icing gummi bears
      li
        h3 Pie
      li
        h3 Cotton candy
      li
        h3 Biscuit cookie
      li
        h3 Jelly beans muffin
      li
        h3 Fruitcake
      li
        h3 Icing gummi bears
      li
        h3 Pie
      li
        h3 Cotton candy
