.inch33

  header.straight
    .hero
      h1 33inch
      h2 Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon.

  article.article
    .container
      h1 Welcome to 33Inch
      p.claim Jelly-o tootsie roll halvah bonbon powder candy canes dragée cake. Macaroon apple pie apple pie croissant macaroon.

  article.features
    .container
      h1 Great features
      p Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon. Cupcake wafer dragée. Icing lemon drops powder. Jelly-o croissant toffee. Ice cream cake powder. Sugar plum soufflé lemon drops.
      ul
        li
          img(src="http://lorempixel.com/350/280/people")
          h3 Jelly halvah
          p Donut powder biscuit caramels jelly beans jujubes jelly beans cupcake.
        li
          img(src="http://lorempixel.com/350/280/city")
          h3 Cake icing tiramisu
          p Tootsie roll lemon drops cake chupa chups tootsie roll donut tart jelly-o.
        li
          img(src="http://lorempixel.com/350/280/nightlife")
          h3 Biscuit cookie
          p Sesame snaps lemon drops pie liquorice muffin liquorice topping cheesecake pastry.

  article.showcase-grid
    ul.col-4
      li
        h3 Biscuit cookie
      li
        h3 Jelly beans muffin
      li
        h3 Fruitcake
      li
        h3 Icing gummi bears
      li
        h3 Pie
      li
        h3 Cotton candy
      li
        h3 Biscuit cookie
      li
        h3 Jelly beans muffin
      li
        h3 Fruitcake
      li
        h3 Icing gummi bears
      li
        h3 Pie
      li
        h3 Cotton candy

  article.list-grid
    .container
      ul.col-2
        li
          h3 Oat cake jelly-o sweet
          p Bear claw pudding biscuit topping powder. Croissant chupa chups halvah powder jelly beans jelly halvah. Topping gummi bears cookie marzipan marzipan oat cake candy canes.
        li
          h3 Sweet roll apple
          p Pie cookie sugar plum cheesecake. Cookie toffee jelly biscuit cupcake sweet brownie. Macaroon danish jelly jelly-o cake soufflé. Pie gummi bears sweet roll dessert caramels tiramisu.
        li
          h3 Sweet roll sweet
          p Roll toffee caramels marzipan jelly beans bonbon. Gummi bears muffin soufflé. Soufflé donut lemon drops dessert. Gummies sugar plum sweet croissant sesame snaps tiramisu tiramisu.
        li
          h3 Jelly beans candy apple pie
          p Marshmallow muffin sesame snaps. Chocolate bar chupa chups croissant icing cheesecake bonbon halvah halvah toffee. Pudding chocolate chocolate oat cake carrot cake brownie jelly muffin.
        li
          h3 Bonbon marshmallow
          p Cookie soufflé liquorice donut. Liquorice gingerbread tart tart brownie pie pie. Chupa chups liquorice chocolate bar powder. Icing jelly-o croissant gummi bears croissant gingerbread.
        li
          h3 Danish soufflé sugar plum
          p Tiramisu croissant danish caramels macaroon sweet. Oat cake chupa chups caramels apple pie cheesecake halvah lollipop toffee soufflé. Cake tiramisu cupcake chocolate tart cake oat cake pastry.

