.btn
  i.fa.fa-ellipsis-h
.dropdown
  .viewport

    //  main
    .view(ng-class="{active: currentView=='main', hidden: currentView!='main'}")
      .item.move
        i.fa.fa-arrow-circle-down(ng-click="moveDown()")
        | Move
        i.fa.fa-arrow-circle-up(ng-click="moveUp()")
      .item(ng-if="config.columns", ng-click="addColumnItem()")
        | Add column item
      .item(ng-if="config.columns")
        | Columns count:
        span.value {{ngModel.data.columnCount}}
        slider(floor="{{config.columns.min}}", ceiling="{{config.columns.max}}", step="1", precision="1", ng-model="ngModel.data.columnCount")
      .item(ng-if="hasElements", ng-click="showView('elements')")
        | Elements
        i.fa.fa-angle-right.right
      .item(ng-if="hasAppearance", ng-click="showView('appearance')")
        | Appearance
        i.fa.fa-angle-right.right
      .item(ng-if="!config.hasOwnProperty('background') || config.background", ng-click="showView('background')")
        | Background
        i.fa.fa-angle-right.right
      .item(ng-click)
        | Delete

    //  elements
    .view(ng-class="{active: currentView=='elements'}")
      .item.title
        .back(ng-click="showView('main')")
          i.fa.fa-angle-left
          | back
        | Elements
      .item(ng-repeat="element in config.elements", ng-if="element.hasOwnProperty('elements')")
        | {{element.name}}
        div(ng-switcher, ng-model="ngModel.data[element.id].elements")

    //  appearance
    .view(ng-class="{active: currentView=='appearance'}")
      .item.title
        .back(ng-click="showView('main')")
          i.fa.fa-angle-left
          | back
        | Appearance

    //  background
    .view(ng-class="{active: currentView=='background', hidden: currentView=='new-bg-color'}")
      .item.title
        .back(ng-click="showView('main')")
          i.fa.fa-angle-left
          | back
        | Background
      .item
        | Color
        .colors
          .color(ng-class="{active: color==ngModel.data.style.backgroundColor}", ng-repeat="color in colors" style="background: {{color}}", ng-click="setBackgroundColor(color)")
          .color.add(ng-click="lastColor = ngModel.data.style.backgroundColor; showView('new-bg-color')")
            .fa.fa-plus-circle
      .item
        | Image
        .button(ng-if="ngModel.data.style.backgroundImage", ng-click="deleteBackground(ngModel.data.style.backgroundImage)") Delete
        .button(ng-if="!ngModel.data.style.backgroundImage", upload-button, url="{{uploadUrl}}", param="file", on-upload="bgUploadStart(files)", on-success="bgUploadSuccess(response)", on-error="bgUploadError(response)") Upload
      .item(ng-if="ngModel.data.style.backgroundImage")
        | Background position
        .bg-position
          .top(ng-click="backgroundPosition('top')")
            i.fa.fa-caret-up
          .left(ng-click="backgroundPosition('left')")
            i.fa.fa-caret-left
          .center(ng-click="backgroundPosition('center')")
            i.fa.fa-arrows
          .right(ng-click="backgroundPosition('right')")
            i.fa.fa-caret-right
          .bottom(ng-click="backgroundPosition('bottom')")
            i.fa.fa-caret-down
      .item(ng-if="ngModel.data.style.backgroundImage")
        | Background repeat
        div
          .button(ng-click="backgroundRepeat('repeat-x')") X
          .button(ng-click="backgroundRepeat('repeat-y')") Y
          .button(ng-click="backgroundRepeat('repeat')") XY
          .button(ng-click="backgroundRepeat('no-repeat')") off

    .view(ng-class="{active: currentView=='new-bg-color'}")
      .item.title
        .back(ng-click="ngModel.data.style.backgroundColor = lastColor; showView('background')")
          i.fa.fa-angle-left
          | back
        | New color
      .item
        color-picker(ng-model="ngModel.data.style.backgroundColor")
        .button(ng-click="addColor(ngModel.data.style.backgroundColor); showView('background')") Save
        .button(ng-click="ngModel.data.style.backgroundColor = lastColor; showView('background')") Cancel
