.view(name="main")
  .item(ng-click="addNode()")
    | Add item
  .item
    | Logo
    .button(ng-show="!isUploading", upload-button, url="{{uploadUrl}}", param="file", on-upload="logoUploadStart(files)", on-success="logoUploadSuccess(response)", on-error="logoUploadError(response)") Upload
    i.fa.fa-circle-o-notch.fa-spin(ng-if="isUploading")
  .item
    | Color
    .colors
      .color(ng-class="{active: color==ngModel.data.textColor}", ng-repeat="color in colors" style="background: {{color}}", ng-click="setColor(color)")
      .color.add(view="new-color")
        .fa.fa-plus-circle
  .item
    | Background
    .colors
      .color(ng-class="{active: color==ngModel.data.style.backgroundColor}", ng-repeat="color in colors" style="background: {{color}}", ng-click="setBackgroundColor(color)")
      .color.add(view="new-bg-color")
        .fa.fa-plus-circle
  .item(ng-click="deleteElement(ngModel._id)")
    | Delete

.view(name="new-color")
  .item.title
    .back
    | New color
  .item
    color-picker(ng-model="ngModel.data.textColor")
    .button(ng-click="addColor(ngModel.data.textColor)") Save
    .button(ng-click="menuDropdown.back()") Cancel

.view(name="new-bg-color")
  .item.title
    .back
    | New color
  .item
    color-picker(ng-model="ngModel.data.style.backgroundColor")
    .button(ng-click="addBackgroundColor(ngModel.data.style.backgroundColor)") Save
    .button(ng-click="menuDropdown.back()") Cancel
