$toolBg = #333333
$toolText = #cccccc
$toolAccent = #38C05D

$darkBg = #1C2D4A


$textColor = #182740
$textActiveColor = $toolAccent
$textInactiveColor = #8A99B1

$borderColor = #C7C7C7
$borderActiveColor = $toolAccent
