.inch33
  header.section
    min-height: 200px
    background: url(https://ununsplash.imgix.net/photo-1425136738262-212551713a58?fit=crop&fm=jpg&h=600&q=75&w=1050) no-repeat center
    background-size: cover
    position: relative
    .container
      padding-top: 3.5em
      margin: 0 auto
    h1
      color: white
      font-size: 4.5em
      margin: 0
