.inch33
  header.slider
    min-height: 60vh
    background: url(https://ununsplash.imgix.net/photo-1425136738262-212551713a58?fit=crop&fm=jpg&h=600&q=75&w=1050) no-repeat center
    background-size: cover
    position: relative
    overflow: hidden
    .hero
      color: white
      width: 550px
      max-width: 100%
      z-index: 2
      padding: 2em 0
      h1
        font-size: 4.5em
      h2
        font-family: 'Raleway', sans-serif
        position: relative
        padding-left: 1em
        &::before
          content: "\f101"
          font: normal normal normal 14px/1 FontAwesome
          font-size: 1em
          position: absolute
          left: 0.1em
          top: 0.25em
