.inch33
  header.straight
    min-height: 100vh
    background: url(/placeholder/header-straight-2.jpg) no-repeat center
    background-size: cover
    position: relative
    .hero
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      color: white
      width: 550px
      max-width: 100%
      text-align: center
      z-index: 2
      padding: 1em
      h1
        font-size: 4.5em
      h2
        font-family: 'Raleway', sans-serif
