header.menu-default
  background: white
  position: relative
  z-index: 1100
  .container
    overflow: hidden
    margin: 0 auto
  h1
    float: left
    margin: 0
  ul
    list-style: none
    float: right
    li
      display: inline-block
      margin: 0 20px
      a, span
        color: #3A4553
        text-decoration: none
        padding: 10px 5px
        display: block
        cursor: pointer
        &:hover
          opacity: 0.65

