header.menu-default
  background: white
  position: relative
  z-index: 1100
  font-family: Dosis, sans-serif
  .container
    overflow: hidden
    margin: 0 auto
  h1.logo
    float: left
    margin: 0
    img
      height: 68px
      display: block
      margin: 5px 0
  ul
    list-style: none
    float: right
    color: #009E99
    li
      display: inline-block
      margin: 0 20px
      a, span
        text-decoration: none
        padding: 10px 5px
        display: block
        cursor: pointer
        &:hover
          opacity: 0.65
