$extraSmall = 0
$small = 768px
$medium = 992px
$large = 1200px

size($size)
  @media screen and (min-width: $size)
    {block}

.inch33
  .container
    width: auto
    margin: 1em 0.5em
    +size($small)
      width: 750px
      margin: 1em auto
    +size($medium)
      width: 970px
      margin: 1em auto
    +size($large)
      width: 1170px
      margin: 1em auto
