.inch33
  .showcase-grid
    background: #1D262D
    color: white
    padding: 0
    ul
      list-style: none
      padding: 0
      margin: 0
      &::after
        content: ''
        display: block
        clear: both
      li
        margin: 0
        background-position: center
        background-size: cover
        height: 0
        padding: 0
        position: relative
        width: 50%
        padding-bottom: 50%
        float: left
        &:nth-child(1)
          background-image: url(/placeholder/img-11.jpg)
        &:nth-child(2)
          background-image: url(/placeholder/img-12.jpg)
        &:nth-child(3)
          background-image: url(/placeholder/img-13.jpg)
        &:nth-child(4)
          background-image: url(/placeholder/img-14.jpg)
        &:nth-child(5)
          background-image: url(/placeholder/img-15.jpg)
        &:nth-child(6)
          background-image: url(/placeholder/img-16.jpg)
        &:nth-child(7)
          background-image: url(/placeholder/img-17.jpg)
        &:nth-child(8)
          background-image: url(/placeholder/img-18.jpg)
        &:nth-child(9)
          background-image: url(/placeholder/img-19.jpg)
        &:nth-child(10)
          background-image: url(/placeholder/img-20.jpg)
        &:nth-child(11)
          background-image: url(/placeholder/img-9.jpg)
        &:nth-child(12)
          background-image: url(/placeholder/img-10.jpg)
        h3
          position: absolute
          top: 50%
          transform: translate(0, -50%)
          padding: 0.5em
          text-align: center
          left: 0
          right: 0
          margin: 0
          color: white
          z-index: 2
          transition: all 0.3s ease
          text-shadow: 0 0 20px black, 0 0 50px black
        editor
          position: absolute
          top: 50%
          left: 10px
          right: 10px
          opacity: 0
          transform: translate(0, -50%)
          transition: all 0.2s ease
          h3
            position: static
            transform: none
        &:hover
          editor
            opacity: 1
      +size($small)
        li
          width: 33.333333333%
          padding-bottom: 33.333333333%
          h3
            opacity: 0
            text-shadow: none
          &::after
            content: ''
            position: absolute
            opacity: 0
            background: black
            top: 0
            right: 0
            bottom: 0
            left: 0
            transition: all 0.3s ease
          &:hover
            h3
              opacity: 1
            &::after
              opacity: 0.5
        &.col-2 li
          width: 50%
          padding-bottom: 50%
        &.col-4 li
          width: 25%
          padding-bottom: 25%
        &.col-5 li
          width: 20%
          padding-bottom: 20%
        &.col-6 li
          width: 16.666666667%
          padding-bottom: 16.666666667%
