extends ../layouts/layout.jade

block title
  title 33inch

block variables
  - var bodyClass = 'home'

block content

  header.ui-kit#home
    h1 33inch
    nav
      ul
        li
          a(href='#features') features
        li
          a(href='#about') about
        li
          a(href='/sign-in') login
    h2 
      | Think outside the templates
      small Make websites with excellent UX
    a.button(href="/sign-up") start creating
  
  section
    article#features
      ul
        li.design
          .icon
          h3 Design faster
          p 33inch allows you to create simple responsive and editable websites
        li.collaborate
          .icon
          h3 Collaborate online
          p You can collaborate with your team on-line directly on the project created
        li.deliver
          .icon
          h3 Publish on the fly
          p Publish automatically your projects on the Internet under your own domain

    article#about
      .content
        h1 About 33inch
        p 33inch is a platform to create and edit content on the Internet with collaboration and communication modules online.
        h2 33inch helps you
        ul
          li Creating web pages with complex structure without a developer needed.
          li The immediate visualisation of your project. Your customers can see the results of your work instantly.
          li Export the code if necessary.
          li Improving communication with your customers and partners.
        .logo
    
    article#register.ui-kit
      h1 Register now for free!
      p Start with a FREE 14 days trial. No credit card required.
      a.button(href="/sign-up") sign up

  footer
    .content
      p © 33inch.com 2016 all rights reserved
      a.up(href="#home")
      p Proudly created with 33inch.com
