extends ../layouts/layout.jade

block title
  title 33inch

block variables
  - var bodyClass = 'home'

block content

  section.teaser
    h1 33inch
    h2
      strong Join the 33inch.
      br
      | Be free, work as you want,
      | wherever you want.

  section.blank

  section.boxes
    .title Boxes
    strong.text-left
      | Design in inches,
      br
      | work without limits
    .text-right
      | Find exactly
      br
      | the things you need
      img(src="/boxes-tools.png")

  section.style
    .title Styling
    strong.text-left
      | Choose color palette,
      br
      | font size and type
    .text-right
      | Express your character
      br
      | by adjusting shapes

  section.stock
    .title Stock photos and graphics
    strong.text-left
      | Browse through more
      br
      | than thousand images
    .text-right
      | Incredible shots
      br
      | built in the creator

  section.publish
    .title Instant publishing
    strong.text-left
      | View your website online
      br
      | just after one click
    .text-right
      | Or bring it to
      br
      | your own server
