extends ../layouts/layout.jade

block title
  title 33inch

block variables
  - var bodyClass = 'home'

block content

  section.teaser
    h1 33inch
    h2
      strong Join the 33inch.
      br
      | Be free, work as you want,
      | wherever you want.

  section.blank

  section.boxes
    .title boxes
    strong.text-left
      | Projektuj w calach,
      br
      | pracuj bez ograniczeń
    .text-right
      | Wybierz dokładnie
      br
      | to, czego potrzebujesz
      img(src="/boxes-tools.png")

  section.style
    .title style
    strong.text-left
      | Dobierz kolorystykę,
      br
      | wielkość i rodzaj fontu
    .text-right
      | Wyraź swój charakter
      br
      | zmieniając kształty boxów
