extends ../layouts/layout.jade

block title
  title 33inch

block variables
  - var bodyClass = 'home'

block content

  section.teaser
    h1 33inch
    h2
      strong Join the 33inch.
      br
      | Be free, work as you want,
      | wherever you want.

  section.blank

  section.boxes
    .title Boxes
    strong.text-left
      | Design in inches,
      br
      | work without limits
    .text-right
      | Find exactly
      br
      | the things you need
      img(src="/boxes-tools.png")

  section.style
    .title Styling
    strong.text-left
      | Choose color palette,
      br
      | font size and type
    .text-right
      | Express your character
      br
      | by adjusting shapes

  section.stock
    .title Stock photos and graphics
    strong.text-left
      | Browse through more
      br
      | than thousand images
    .text-right
      | Incredible shots
      br
      | built in the creator

  section.publish
    .title Instant publishing
    strong.text-left
      | View your website online
      br
      | just after one click
    .text-right
      | Or bring it to
      br
      | your own server

  section.pricing
    .title Pricing
    .price-grid
      .row.head
        .col
        .col free
        .col Scout
        .col Freelancer
        .col Agency
      .row
        .col Public projects
        .col
          | 1
          small 30 days
        .col 1
        .col 7
        .col Unlimited
      .row
        .col Author
        .col
          .check
        .col
          .check
        .col
          .check
        .col
          .check
      .row
        .col Responsive design
        .col
          .check
        .col
          .check
        .col
          .check
        .col
          .check
      .row
        .col Expert
        .col -
        .col -
        .col
          .check
        .col
          .check
      .row
        .col Code Export
        .col -
        .col -
        .col Unlimited
        .col Unlimited
      .row
        .col Your own domain
        .col -
        .col -
        .col Unlimited
        .col Unlimited
      .row
        .col Support
        .col Standard
        .col Standard
        .col Premium
        .col Premium
      .row
        .col SEO tools
        .col
          .check
        .col
          .check
        .col
          .check
        .col
          .check
      .row
        .col Collaboration
        .col
          .check
        .col
          .check
        .col
          .check
        .col
          .check
      .row
        .col Project budget
        .col
          .check
        .col
          .check
        .col
          .check
        .col
          .check
      .row
        .col Project schedule
        .col
          .check
        .col
          .check
        .col
          .check
        .col
          .check
      .row
        .col Expert worktime
        .col
        .col
        .col 5% OFF
        .col 10% OFF
      .row
        .col Graphics and Videos
        .col
        .col
        .col 5% OFF
        .col 10% OFF
      .row.foot
        .col Monthly
        .col 0,00 EUR
        .col 3,99 EUR
        .col 14,99 EUR
        .col 75,00 EUR

  section.newsletter
    h2 Are you interested?
    p Leave your email
    form
      input(type="email", name="email")
      input(type="submit")
