extends ../layouts/layout.jade

block title
  title 33inch

block variables
  - var bodyClass = 'home'

block content

  section.teaser
    .sides
      .left
        h2 Find experts, have a control over your project
      .right
        h2 Create, edit and publish the website with one click
    .content
      h1 33inch
      h2 Websites do not form themselves.


  section.newsletter
    h2 Are you interested?
    p Leave your email
    form
      input(type="email", name="email")
      input(type="submit")

  footer
    .wrap
      img(src="/33-logo-foot.png")
