extends ../layouts/layout.jade

block title
  title 33inch

block variables
  - var bodyClass = 'home'

block content

  section.teaser
    h1 33inch
    .sides
      .left
        .description
          p Best websites do not form themselves. They are made by experts: graphic designers, copywriters, SEO specialists. Find experts in your website with 33inch with inspect their work.
          p 33inch allows on-line to check the status of the project web page and provides tools for communication with experts.
      .right
        .description
          p The website should be nice. This is a broad and difficult to define term. The website should be first and foremost a look that pleases the eye, but does not interfere in accessing and viewing content.
          p With 33inch you can edit your page how many times you want without shares programmer, and the publication is just one click.
    .content
      h2 #websites do not form themselves
    .scroll-down

  section.newsletter
    h2 Are you interested?
    p Leave your email
    form
      input(type="email", name="email")
      input(type="submit")
