.home
  section.boxes
    min-height: 100%
    background: #333333 url(../bg-boxes.png) no-repeat center
    color: orange
    &.affix
      background-attachment: fixed
    .title
      margin-top: -215px
    .text-right
      img
        margin-top: 0.5em
