.home
  .newsletter
    background: orange
    color: white
    text-align: center
    min-height: 390px
    h2
      font-size: 54px
      font-family: 'Bebas_neue_regular', sans-serif
      font-weight: normal
      margin-top: 1.5em
      margin-bottom: 0
    p
      margin-top: 0
      font-size: 54px
      font-family: 'Bebas_neue_light', sans-serif
      font-weight: normal
    form
      input
        height: 40px
        padding: 2px 12px
        border-radius: 18px
        border: none
        width: 250px
        font-size: 20px
      input[type=submit]
        background: url(../submit.png)
        width: 41px
        height: 41px
        overflow: hidden
        text-indent: -500px
        margin-left: 10px
        cursor: pointer

