.home
  .pricing
    background: #333333
    text-align: center
    .title
      position: static
      margin: 4em auto 2em
    .price-grid
      display: inline-block
      text-align: left
      margin: 1em 0 5em
      .row
        clear: both
        font-size: 11px
        &.head
          font-weight: bold
          .col
            font-size: 14px
            padding-top: 1em
            padding-bottom: 1em
            position: relative
            &:nth-child(4)
              &::before
                content: ''
                position: absolute
                background: url(../pricing-top.png)
                left: 0
                right: 0
                bottom: 100%
                height: 35px
        &.foot
          font-weight: bold
          .col
            font-size: 12px
            padding-top: 1em !important
            padding-bottom: 1em !important
            &:nth-child(4)
              position: relative
              &::after
                content: ''
                position: absolute
                background: orange
                left: 0
                right: 0
                top: 100%
                height: 15px
        .col
          width: 65px
          float: left
          min-height: 1px
          padding: 4px 20px
          color: white
          height: 18px
          small
            margin-left: 1em
          &:nth-child(1)
            padding: 4px 10px 4px 0
            width: 110px
            text-align: right
          &:nth-child(2)
            background: #4e4e4e
          &:nth-child(3)
            background: #676767
          &:nth-child(4)
            background: #f39323
            width: 110px
          &:nth-child(5)
            background: #7f8080
          .check
            width: 16px
            height: 15px
            background: url(/check.png)
            display: inline-block
