.home
  section.publish
    min-height: 100%
    background: #ffffff url(../bg-publish.png) no-repeat center fixed
    color: orange
    .title
      opacity: 0
      transition: opacity 0.2s ease-out
    &.affix
      .title
        opacity: 1
