.home
  section.teaser
    color: white
    //font-family: 'Bebas_neue_light', sans-serif
    font-family: sans-serif
    text-align: center
    min-height: 100%
    position: relative
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 50%
      z-index: 2
      margin-top: -30px
    .sides
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      &:hover
        .left
          width: 20%
        .right
          width: 80%
          &::after
            background: rgba(0, 0, 0, 0.5)
          .description
            opacity: 1
      .left
        &:hover
          width: 80%
          &::after
            background: rgba(0, 0, 0, 0.5)
          .description
            opacity: 1
        &:hover + .right
          width: 20%
          &::after
            background: rgba(0, 0, 0, 0)
          .description
            opacity: 0
    .left, .right
      transition: all 0.4s ease
      overflow: hidden
      clip: rect(0, auto, auto, 0)
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgba(0, 0, 0, 0)
        z-index: 1
        transition: background 0.4s ease
      .description
        width: 565px
        transform: translate(-50%, 0)
        position: absolute
        top: 50%
        font-size: 18px
        font-weight: normal
        opacity: 0
        transition: opacity 0.4s ease
        margin-top: 20px
        z-index: 2
    .left
      background: url(../teaser-desk.jpg) no-repeat center
      background-size: cover
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 50%
      .description
        left: 62%
    .right
      background: url(../teaser-man.jpg) no-repeat center
      background-size: cover
      position: absolute
      top: 0
      bottom: 0
      right: 0
      width: 50%
      .description
        left: 38%
    h1
      background: url(../33-logo.png)
      width: 128px
      height: 90px
      overflow: hidden
      text-indent: -500px
      margin: 1em auto 0
      position: absolute
      top: 0
      left: 0
      z-index: 1
      margin: 1em
      z-index: 3
    .content
      position: absolute
      left: 0
      right: 0
      top: 50%
      margin-top: -80px
      z-index: 2
      h2
        font-size: 44px
        font-weight: normal
        width: 680px
        margin: 0.1em auto 0
        strong
          font-weight: normal
          font-family: 'Bebas_neue_regular', sans-serif
    .scroll-down
      width: 42px
      height: 42px
      background: url(../scroll-down.png)
      position: absolute
      left: 50%
      bottom: 10px
      z-index: 2
      cursor: pointer
      transform: translate(-50%, -50%)
