.home
  section.teaser
    background: url(../bg.jpg) no-repeat center
    background-size: cover
    color: white
    font-family: 'Bebas_neue_light', sans-serif
    text-align: center
    min-height: 100%
    .content
      position: absolute
      left: 0
      right: 0
      top: 50%
      margin-top: -190px
    h1
      background: url(../33-logo.png)
      width: 128px
      height: 90px
      overflow: hidden
      text-indent: -500px
      margin: 1em auto 2em
    h2
      font-size: 54px
      font-weight: normal
      width: 620px
      margin: 1em auto
      strong
        font-weight: normal
        font-family: 'Bebas_neue_regular', sans-serif

