article.features
  .container
    h1 Great features
    p.regular Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon. Cupcake wafer dragée. Icing lemon drops powder. Jelly-o croissant toffee. Ice cream cake powder. Sugar plum soufflé lemon drops.
    ul.columns
      li
        img(src="http://lorempixel.com/350/280/people")
        h3 Jelly halvah
        p Donut powder biscuit caramels jelly beans jujubes jelly beans cupcake.
      li
        img(src="http://lorempixel.com/350/280/city")
        h3 Cake icing tiramisu
        p Tootsie roll lemon drops cake chupa chups tootsie roll donut tart jelly-o.
      li
        img(src="http://lorempixel.com/350/280/nightlife")
        h3 Biscuit cookie
        p Sesame snaps lemon drops pie liquorice muffin liquorice topping cheesecake pastry.
