article.attachements-list
  .container
    h1 Jelly-o tootsie
    p.regular Bear claw pudding biscuit topping powder. Croissant chupa chups halvah powder jelly beans jelly halvah. Topping gummi bears cookie marzipan marzipan oat cake candy canes. Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon. Cupcake wafer dragée. Icing lemon drops powder. Jelly-o croissant toffee. Ice cream cake powder. Sugar plum soufflé lemon drops. Tiramisu croissant danish caramels macaroon sweet. Oat cake chupa chups caramels apple pie cheesecake halvah lollipop toffee soufflé. Cake tiramisu cupcake chocolate tart cake oat cake pastry.
    ul
      li
        a Biscuit
      li
        a Halvah
      li
        a Gummi bears
      li
        a Jelly beans
