footer.default
  .container
    .column
      form(name="email")
        .name
          label Name and Surname
          input(name="name", required)
        .email
          label Email
          input(name="email", type="email", required)
        .message
          label Message
          textarea(name="message", required)
        button(type="submit")
          i.fa.fa-envelope
    .column
      h3 Let's be friends
      p.regular Apple pie biscuit carrot cake bonbon cake dragée brownie muffin lollipop.
      ul
        li.place
          | Company Ltd
          br
          | 43-300 Bielsko-Biała
          br
          | ul. Main Street 3/3
        li.mail
          | name@domain.com
        li.phone
          | John: +48 111 222 333
        li.twitter
          | @Twitter
