footer.default
  .container
    .column
      form
        label
          p.name Name and Surname
          input(name="name")
        label
          p.email Email
          input(name="email")
        label
          p.message Message
          textarea
        button(type="submit")
          i.fa.fa-envelope
    .column
      h3 Let's be friends
      p.regular Apple pie biscuit carrot cake bonbon cake dragée brownie muffin lollipop.
      ul
        li.place
          | Company Ltd
          br
          | 43-300 Bielsko-Biała
          br
          | ul. Main Street 3/3
        li.mail
          | name@domain.com
        li.phone
          | John: +48 111 222 333
        li.twitter
          | @Twitter
