header.menu-default
  .container
    h1.logo Logo
    ul
      li
        a(href="#") o firmie
      li
        a(href="#") cennik
      li
        a(href="#") soczewki
      li
        a(href="#") oprawy okularowe
      li
        a(href="#") regulamin
      li
        a(href="#") kontakt
