article.pricing-default
  .container
    h1 Pricing
    p.regular Macaroon apple pie apple pie croissant macaroon.
    .table
      .items
        p
          | Item 1
          br
          | Item 2
          br
          | Item 3
      .prices
        p
          | $100.00
          br
          | $200.00
          br
          | $300.00
    p.small Powder pastry jelly beans candy canes dragée donut macaroon.
