article.showcase-grid
  ul.columns
    li
      h3 Biscuit cookie
    li
      h3 Jelly beans muffin
    li
      h3 Fruitcake
    li
      h3 Icing gummi bears
    li
      h3 Pie
    li
      h3 Cotton candy
    li
      h3 Biscuit cookie
    li
      h3 Jelly beans muffin
    li
      h3 Fruitcake
    li
      h3 Icing gummi bears
    li
      h3 Pie
    li
      h3 Cotton candy
