header.slider-straight
  .slides
    .slide.active
      .hero
        h1 First slide
        h2 Macaroon apple pie apple pie croissant macaroon. Powder pastry jelly beans candy canes dragée donut macaroon.
    .slide
      .hero
        h1 Second one
        h2 Gingerbread marshmallow pudding chupa chups cupcake soufflé oat cake. Macaroon cupcake candy macaroon.
    .slide
      .hero
        h1 Another one
        h2 Muffin muffin bonbon biscuit sugar plum brownie tart sweet. Dragée macaroon bonbon sesame snaps caramels jelly-o.
  ul.nav
    li.active
    li
    li
