header.slider-left
  .slides
    .slide.active
      .container
        .hero
          h1 First slide
          h2 Macaroon apple pie apple pie croissant macaroon pastry jelly candy.
    .slide
      .container
        .hero
          h1 Second one
          h2 Gingerbread marshmallow pudding chupa chups cupcake soufflé oat cake.
    .slide
      .container
        .hero
          h1 Another one
          h2 Muffin muffin bonbon biscuit sugar plum brownie tart sweet.
  ul.nav
    li.active
    li
    li
