article.subscribe-form
  .container
    h1 Subscribe
    p Topping gummi bears cookie marzipan marzipan oat cake candy canes.
    form(name="email")
      .email
        label Email
        input(name="email", type="email", required)
      .name
        label Name
        input(name="name", required)
      button(type="submit")
        i.fa.fa-envelope
