doctype html
html
  block variables
    - var bodyClass = 'app'
  head
    link(rel='stylesheet', href='/assets/app.min.css')
    script(src="/assets/app.js")
    block title
      title 33 Inch
    block head
  body(class="#{bodyClass}")
    block content
    - if ( settings.env == 'development' )
      script(src="//localhost:35729/livereload.js")
