.article-with-features
  h2 Title
  p.claim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida, massa at congue ultrices, nunc nisl suscipit orci, eu malesuada risus ex ut augue. Sed nec lacus massa.


