.home
  overflow: hidden
  position: absolute
  width: 100%
  height: 100%
  background: gray url(../bg.jpg) center
  background-size: cover
  h1
    background: url(../logo.png) no-repeat center
    width: 522px
    height: 211px
    background-size: 522px 211px
    overflow: hidden
    text-indent: -1000px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    margin: 0
