//  vendors
@import 'jeet'

//  global config
@import 'common/config/fonts'
@import 'common/config/colors'
@import 'common/config/layout'
@import 'common/config/size'
@import 'app/config/layout'
@import 'app/config/fonts'

//  components
@import 'common/ui-kit/all'

@import 'home/global'
@import 'home/header'
@import 'home/features'
@import 'home/about'
@import 'home/register'
@import 'home/footer'
