
//  config
@import 'home/config/fonts'
@import 'home/config/layout'
@import 'home/config/colors'

//  components
@import 'home/components/section'
@import 'home/components/footer'

//  pages
@import 'home/pages/home/teaser'
@import 'home/pages/home/newsletter'
