.account

  h1 Account
  .panel
    h3 33inch Beta
    p 
      | Our service is in beta mode, which means you will not be charged for using it till the end of the beta period. 
      | Therefore please be advised that most likely you can experience some bugs and minor issues in performance and functionality. 
    p Don't worry, we are working on it.
    p You will be notified earlier about coming public version and 33inch pricing policy. Stay tuned!
