button(color = black, altColor = transparent, borderColor = null)
  borderColor = borderColor || color
  color: $textColor
  border: borderColor 1px solid
  background: altColor
  font-size: 1em
  font-weight: bold
  padding: 0.75em 1.5em
  display: inline-block
  width: auto
  line-height: 1.4
  box-sizing: border-box
  border-radius: 0.3em
  cursor: pointer
  height: auto
  margin: 0.15em
  vertical-align: middle
  transition: color 0.2s ease, border 0.2s ease, background 0.2s ease
  text-decoration: none
  &[disabled]
    opacity: 0.3
    cursor: default
  &:focus
    outline: none
  &:hover, &:focus
    border-color: lighten(color, 30%)
    background: altColor
  &:active
    border-color: darken(color, 5%)
  &.block
    display: block
    width: 100%
    margin-left: 0
    margin-right: 0
    text-align: center
  &.small
    font-size: 0.9em
    padding: 0.25em 0.65em
    font-weight: normal
  &.fill
    color: white
    border-color: color
    background: color
    &:hover, &:focus
      color: white
      border-color: lighten(color, 20%)
      background: lighten(color, 20%)
    &:active
      color: white
      border-color: darken(color, 5%)
      background: darken(color, 5%)

.button, button, input[type=submit], submit
  button(defaultColor, transparent, $borderColor)
  &.success
    button(successColor)
  &.primary
    button(primaryColor)
  &.info
    button(infoColor)
  &.warning
    button(warningColor)
  &.danger
    button(dangerColor)
