label
  display: block
  margin: 1em 0
  font-size: 1em
  color: $textInactiveColor
  &::after
    content: ''
    display: block
    clear: both
    height: 0.00000001em
  input, select, textarea
    margin-top: 0.25em
  &.error
    color: dangerColor
  &.checkbox
    cursor: pointer
  &.suffix
    position: relative
    .suffix
      position: absolute
      display: block
      margin: 1em 0
      font-size: 1em
      color: $textInactiveColor
      bottom: 2px
      right: 0
      margin: 0
      border: solid 1px $inputBorderColor
      border-radius: 0 4px 4px 0
      height: 38px
      box-sizing: border-box
      line-height: 2.4
      padding: 0 1em
      background: white
