extends ../layouts/app.jade

block title
  title 33inch

block content
  h1 account

  form
    label(hint="This is tooltip")
      | Login
      input.error(type="email")
    label.error(hint="This is tooltip")
      | Password
      input(type="password")
    label
      | Select
      select
        option(value="1") All
        option(value="2") None
    label
      | Description
      textarea
    .button(hint="This is tooltip") Submit default
    .button.primary(hint="This is tooltip") Submit button
    button.danger Regular button
    input.warning(type="submit", value="Input submit hh")
    submit.success qwdqwdq

    .button.fill.block(hint="This is tooltip") Submit button
    button.fill Regular button
    button.fill.success Regular button
    button.fill.info Regular button
    button.fill.warning Regular button
    button.fill.danger Regular button
    button.fill.primary Regular button
    input.fill(type="submit", value="Input submit")
    submit.fill qwdqwdq


  p inspiration: http://www.creative-tim.com/get-shit-done#

