extends ../layouts/app.jade

block title
  title 33inch

block head
  link(href='http://fonts.googleapis.com/css?family=Arvo:400,700|Raleway:400,700', rel='stylesheet', type='text/css')
  base(href="/")

block content
  div(ng-app="App33Inch", ui-view)
