doctype html
html
  head
    link(rel='stylesheet', href='/assets/app.min.css')
    block title
      title 33 Inch
  body
    block content
    - if ( settings.env == 'development' )
      script(src="//localhost:35729/livereload.js")
