.website-details
  h1
    a.fa.fa-chevron-left.back(ui-sref="^")
    | {{website.name}}
    .links
      a.button.small.success(ui-sref="edit.node({link: website.permalink})") Edit
      a.button.small.primary(ng-if="website.public" ng-href="{{website | websiteUrl}}" target="_blank") Preview
      a.button.small.primary(ng-if="!website.public" ng-disabled="true") Preview
  
  .tabs
    a.tab-nav(ui-sref=".visibility" ui-sref-active="active") Visibility
    a.tab-nav(ui-sref=".collaborate" ui-sref-active="active") Collaborate
    a.tab-nav(ui-sref=".settings" ui-sref-active="active") Settings
    ui-view.tab-content
