form.ui-kit(name="form" ng-submit="submitForm()" novalidate)
  
  .message.success(ng-show="updated") Visibility updated
  .message.danger(ng-show="form.$submitted && ( form.$invalid || errorMessage )")
    span(ng-messages="form.name.$error")
      span(ng-message="required") Enter website name
    span(ng-messages="form.permalink.$error")
      span(ng-message="required") Enter website permalink
      span(ng-message="pattern") Permalink should have only small characters, letters, '-'  or '_'
    span(ng-messages="form.domain.$error")
      span(ng-message="pattern") Wrong domain format
    span(ng-if="errorMessage") {{errorMessage}}

  .row
    .col-6
      label
        | Public
        switch(ng-model="website.public")

      label(ng-class="{error: form.$submitted && form.name.$invalid}")
        | Name
        input(type="input" name="name" ng-model="website.name" ng-disabled="isLoading" required)
        
    .col-6
      label.suffix(ng-class="{error: form.$submitted && form.permalink.$invalid}")
        | Permalink
        input(type="input" name="permalink" ng-model="website.permalink" ng-disabled="isLoading" required pattern="^([A-Za-z0-9\-_]+)$")
        .suffix .33inch.com
    
      label(ng-class="{error: form.$submitted && form.domain.$invalid}")
        | Domain
        input(type="input" name="domain" ng-model="website.domain" ng-disabled="isLoading" placeholder="No custom domain" pattern="^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$")
  
  .actions
    input.button.success(type="submit" value="Save" ng-disabled="isLoading")
    .button(ui-sref="^.^" ng-disabled="isLoading") Cancel
    
