.sign-in
  width: 300px
  margin: 0 auto
  overflow: hidden
  color: white
  text-align: center
  z-index: 1
  position: relative
  label:not(.checkbox)
    text-align: left
  label.checkbox
    color: defaultColor
    font-size: 0.9em
  .actions
    text-align: center
    margin: 2em 0
    .button.success
      margin-bottom: 1em
    .button.primary
      margin-left: 0.75em
