.sign-in
  width: 300px
  margin: 0 auto
  overflow: hidden
  color: white
  text-align: center
  z-index: 1
  position: relative
  label:not(.checkbox)
    text-align: left
  label
    color: white
    &.checkbox
      color: defaultColor
      font-size: 0.9em
    input
      background: darken($inputBackground, 15%)
  .error
    input
      background: lighten(dangerColor, 85%)
  .actions
    text-align: center
    margin: 2em 0
    padding: 0
    border: none
    .button
      color: white
    .button.success
      margin-bottom: 1em
    .button.primary
      margin-left: 0.75em
