.user-profile
  @extend .app .container
  h1
    .links
      font-size: 18px
      margin-top: 0.5em
      +size($mediumScreen)
        float: right
        font-size: 14px
        margin-top: 0.4em
