.website-details
  @extend .app .container
  h1
    a
      text-decoration: none
      color: inherit
      &:hover
        color: $toolAccent
        .back
          color: $toolAccent
    .links
      font-size: 18px
      margin-top: 0.5em
      .button.success
        display: none
      +size($smallScreen)
        .button.success
          display: inline-block
      +size($mediumScreen)
        float: right
        margin-top: 0
  [hint]
    margin-left: 3px
    font-size: 16px
    &:hover
      color: $toolAccent
    &::after
      min-width: 230px
      font-size: 14px
  .export
    position: relative
    .export-ctrls
      position: absolute
      right: 0
      top: 26px
      font-size: 11px
      .button
        float: left
        font-size: 14px
      dl
        overflow: hidden
        float: left
        margin: 0
        white-space: nowrap
        dt
          text-align: right
          color: $textInactiveColor
          clear: both
        dd
          color: $textColor
        dt, dd
          display: block
          margin: 0
          padding: 0 0.5em
          box-sizing: border-box
          float: left
          width: 50%
          min-width: 130px
  .custom-script
    font-family: "monospace", "Times New Roman", Times, serif
  label.suffix
    .suffix.invite
      color: $textColor
      cursor: pointer
      border-color: $borderActiveColor !important
      background: white !important
      &:hover, &:focus
        border-color: lighten($borderActiveColor, 30%) !important
      &:active
          border-color: darken($borderActiveColor, 5%) !important
    &.error
      input + .suffix
        border-color: dangerColor !important
  .share-list
    list-style: none
    margin: 0
    padding: 0
    border: solid 1px $borderColor
    border-radius: 4px
    li
      color: $textColor
      padding: 10px
      border-bottom: solid 1px lighten($borderColor, 40%)
      &:last-child
        border-bottom: none
      span
        color: $textInactiveColor
        margin-left: 4px
      i.fa
        float: right
        color: $textInactiveColor
        cursor: pointer
        font-size: 20px
        &:hover
          color: $textActiveColor
        &:active
          color: darken($textActiveColor, 10%)
      &.placeholder
        text-align: center
        color: $textInactiveColor
