.user-profile

  h1 {{currentUser | userName}}'s Profile
    .links
      a.button.small.info(ui-sref="logout") Logout
  .tabs
    a.tab-nav(ui-sref=".data" ui-sref-active="active") Profile
    a.tab-nav(ui-sref=".password" ui-sref-active="active") Change password
    ui-view.tab-content
