form(name="form" ng-submit="submitForm()" novalidate)

  .message.success.ng-hide(ng-show="updated") Password changed
  .message.danger.ng-hide(ng-show="form.$submitted && ( form.$invalid || errorMessage )")
    span(ng-messages="form.currentPassword.$error")
      span(ng-message="required") Current password is required
    span(ng-messages="form.newPassword.$error")
      span(ng-message="required") New password is missing
      span(ng-message="minlength") Password must be at least 6 chars long
    span(ng-messages="form.newPasswordConfirm.$error")
      span(ng-message="required") New password confirmation is missing
    span(ng-if="errorMessage") {{errorMessage}}
    span(ng-if="errorConfirm") Password confirmation doesn't match
    

  .row
    .col-6
      label(ng-class="{error: form.$submitted && ( form.currentPassword.$invalid || errorMessage )}")
        | Current password
        input(name="currentPassword" type="password" ng-model="user.currentPassword" required="true")
    .col-6
      label(ng-class="{error: form.$submitted && ( form.newPassword.$invalid || errorConfirm )}")
        | New password
        input(name="newPassword" type="password" ng-model="user.newPassword" required="true" ng-minlength="6")
      label(ng-class="{error: form.$submitted && ( form.newPassword.$invalid || errorConfirm )}")
        | New password confirmation
        input(name="newPasswordConfirm" type="password" ng-model="user.newPasswordConfirm" required="true")
  
  .actions
    input.button.success(type="submit" value="Change" ng-disabled="isLoading || form.$pristine")
    .button(ng-click="reset()" ng-disabled="form.$pristine") Cancel
    
