form(name="form" ng-submit="submitForm()" novalidate)

  .row
    .col-6
      label
        | Current password
        input(type="password")
    .col-6
      label
        | New password
        input(type="password")
    
      label
        | New password confirmation
        input(type="password")
  
  .actions
    input.button.success(type="submit" value="Change" ng-disabled="isLoading")
    .button(ui-sref="^.data" ng-disabled="isLoading") Cancel
    
